.grid_item_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 240px;
  height: 300px;
  gap: 1rem;
  color: var(--color-secondary);
  font-size: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px -2px #929292;
  padding: 1rem;
}

.grid_item_container img {
  width: 40px;
}

.crypto_heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.crypto_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5;
  font-size: 1rem;
}

.circulating_supply {
  display: flex;
  gap: 0.5rem;
}

.list_order {
  font-size: 0.8rem;
}

.green {
  color: var(--color-green);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: flex-start;
  border: 1px solid var(--color-green);
  border-radius: 5px;
  width: 48%;
  font-size: 0.9rem;
  padding: 0.3rem;
}

.red {
  color: var(--color-red);
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--color-red);
  border-radius: 5px;
  width: 48%;
  font-size: 0.9rem;
  padding: 0.3rem;
}

strong {
  color: wheat;
}

/* input[type="range"] {
    background: gray;
    border-radius: 8px;
    height: 7px;
    width: 150px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  } */

/* input[type="range"]::-webkit-slider-thumb {
    width: 0;
    -webkit-appearance: none;
  } */
