.info-component {
  color: #b8b8b8;
  line-height: 1.6;
  font-size: 1.1rem;
}
.info-component h1 {
  font-size: 1.4rem;
  margin: 0;
  color: #ccc;
}

.info-p a {
  text-decoration: underline;
}

.info-p a:hover {
  color: blue !important;
  transition: all 0.3s;
}
