.grey_wrapper {
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  width: 90%;
  display: block;
  margin: 1.5rem auto;
  background: inherit;
  color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px -2px #929292;
  padding: 1rem 2rem;
}

.list_item_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.list_item_container img {
  width: 50px;
}

.crypto_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* span {
  color: rgb(209, 162, 100);
  font-weight: bold;
} */

strong {
  color: rgb(241, 241, 241);
  font-size: 1.1rem;
}
