.search_container {
  width: 96%;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 0 auto;
  background: transparent;
  border: 3px solid var(--dark-gray);
  display: flex;
  align-items: center;
  color: var(--gray);
  box-sizing: border-box;
}

.search_container input {
  width: 95%;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray);
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
